{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} About {% endblock %}
{% block body_block %}
    <div class="page-header">
        <h1> About </h1>
    </div>
    <div> <p> {{ message }} <strong> {{ boldmessage }} </strong>
    <button onClick="alert('You have clicked the button using JS');">
        Click-Me - I run JS
    </button>
    <button id="about-btn">Click-Me-I am on JQ</button>
    <p> This is an example </p>
    <p> This is another example </p>
    <div id="msg">Hello</div>
    </br>
    You have visited this page {{ visits }} times
    </p>
    <img src="{% static 'images/rango-picture.png' %}" alt="Rango Picture" />
    </div>
{% endblock %}
