<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head> 
    <title> Rango </title> 
    <link rel="stylesheet" href="{% static "css/base.css" %}" />
    <script src="{% static "js/jquery.js" %}"> </script>
    </head>
    <body>
        <h1> Rango says Hello World </h1>

        <h2> Top 5 categories </h2>
        {% if categories  %}
            <ul>
            {% for category in categories  %}
            <li> <a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <strong> There are no categories present </strong>
        {% endif %}

        <h2> Top 5 pages </h2>
        {% if pages %}
            <ul>
            {% for page in pages %}
                <li> <a href="{{ page.url }}">{{ page.title }} </a> </li>
            {% endfor %}
            </ul>
        {% else %}
            <strong> There are not pages present </strong>
        {% endif %}
        <a href="/rango/add_category/">Add a category</a></br>
        <a href="/rango/about/">About</a><br />
    </body>
</html>
