{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Home {% endblock title %}
{% block content %}
        {% if user.is_authenticated %}
        <h1> Rango says Hello {{ user.username }} </h1>
        {% else %}
        <h1> Rango says Hello World </h1>
        {% endif %}
        <h2> Top 5 categories </h2>
        {% if categories  %}
            <ul>
            {% for category in categories  %}
            <li> <a href="{% url 'category_detail' category.slug %}">{{ category.name }}</a></li>
            {% endfor %}
            </ul>
        {% else %}
            <strong> There are no categories present </strong>
        {% endif %}
        <h2> Top 5 pages </h2>
        {% if pages %}
            <ul>
            {% for page in pages %}
                <li> <a href="{{ page.url }}">{{ page.title }} </a> </li>
            {% endfor %}
            </ul>
        {% else %}
            <strong> There are not pages present </strong>
        {% endif %} 
{% endblock %}
