{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Login {% endblock %}
{% block body_block %}
    <h1> Changing the password </h1>
    <form id="passwordchange_form" method="post" action="/rango/password_change/">
        {% csrf_token %}
Password: <input type="password" name="password" value="" size="50" />
        <br />
Confirm Password: <input type="password" name="c_password" value="" size="50" />
        <br />
        <input type="submit" name="submit" value="ChangePassword"/>
    </form>
{% endblock %}
