{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Register {% endblock %}
{% block body_block %}
    {% if not registered %}
    <h1> Welcome to Rango registration </h1>
    <form id="register_form" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <input type="submit" name="submit" value="Register"/>
    </form>
    {% else %}
        <h2> Thank you registering with Rango </h2> 
    {% endif %}
{% endblock %}
